.about-comp {
    margin: 4rem 6rem;
    text-align: start;
}

.about-comp h1 {
    padding-bottom: 1rem;
}

.about-comp p {
    padding-bottom: 2rem;
}

@media screen and (max-width: 960px){
    .about-comp {
        margin: 4rem 2rem;
    }
}