:root {

    --color-primary: #646af8;
    --color-white: #fff;
    --color-black: #0000;
    --color-red: rgb(255, 63, 63);

    --container-width-lg: 65%;
    --container-width-md: 92%;
    --form-width: 35%;

    --radius-1: 0.3rem;
    --radius-2: 0.6rem;
    --radius-3: 1rem;
    --radius-4: 2rem;
}

.btn.primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn.category {
    background: var(--color-white);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}
  
.btn.sm {
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
}
  
.btn.danger {
    background: var(--color-red);
    color: var(--color-white);
}
  
.btn:hover {
    background: #fff;
    color: black;
}

section {
    margin-top: 4rem;
}
  
.container {
    width: var(--container-width-lg);
    margin-inline: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.form_error {
    background: red;
    color: white;
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    display: block;
    margin-bottom: 1rem;
  }

input, select, option, textarea, select {
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: var(--radius-1);
    background: #fff;
}

.register, .login, .create-form {
    width: var(--form-width);
    margin-inline: auto;
    height: calc(100vh - 2rem);
    display: grid;
    margin-bottom: 20px;
    place-items: center;
    text-align: center;
    box-shadow: 0 1px 0 2px;
    border-radius: 5px 5px 5px 5px;
}

.register h2, .login h2 {
    margin-bottom: 2rem;
}

.register small, .login small, .create-form small{  
    display: grid;
    place-items: center;
    margin-top: 1.5rem;
}

.create-form p {
    text-align: center;
}

.create-form h2 {
    margin-bottom: 2rem;
    color: black;
    font-weight: 700;
}

.q1-editor {
    overflow: scroll;
    background: var(--color-white);
    height: 10rem !important;
  }