:root {

    --color-primary: #5d872e;
    --color-white: #fff;
    --color-black: #0000;
    --color-grey: #a0978d;
    --color-red: rgb(255, 63, 63);

    --container-width-lg: 75%;
    --container-width-md: 92%;
    --form-width: 45%;

    --radius-1: 0.3rem;
    --radius-2: 0.6rem;
    --radius-3: 1rem;
    --radius-4: 2rem;
}

.btn.primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn.category {
    background: var(--color-white);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}
  
.btn.sm {
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
}
  
.btn.danger {
    background: var(--color-red);
    color: var(--color-white);
}
  
.btn:hover {
    background: #a0978d;
    color: #fff;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}
  
.container {
    display: flex;
    flex-wrap: wrap;
    width: var(--container-width-lg);
    margin-inline: auto;
    justify-content: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.form_error {
    background: red;
    color: white;
    font-size: 0.8rem;
    padding: 0.7rem 1rem;
    border-radius: var(--radius-1);
    display: block;
    margin-bottom: 1rem;
  }

input, select, option, textarea, select {
    width: 400px;
    padding: 0.7rem 1rem;
    border-radius: var(--radius-2);
    background: #fff;
}

.login {
    width: var(--form-width);
    margin-inline: auto;
    height: calc(100vh - 3rem);
    display: grid;
    margin-bottom: 50px;
    place-items: center;
    text-align: center;
    box-shadow: 0 1px 0 2px;
    border-radius: 5px 5px 5px 5px;
}

.register {
    width: var(--form-width);
    margin-inline: auto;
    height: calc(100vh - 3rem);
    display: grid;
    margin-bottom: 50px;
    place-items: center;
    text-align: center;
    box-shadow: 0 1px 0 2px;
    border-radius: 5px 5px 5px 5px;
}

.edit-form {
    width: var(--form-width);
    margin-inline: auto;
    height: calc(120vh - 4rem);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    place-items: center;
    text-align: center;
    box-shadow: 0 1px 0 2px;
    border-radius: 5px 5px 5px 5px;
}

.create-form {
    width: var(--form-width);
    margin-inline: auto;
    height: calc(120vh);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    place-items: center;
    text-align: center;
    box-shadow: 0 1px 0 2px;
    border-radius: 5px 5px 5px 5px;
}

.register h2, .login h2 {
    margin-bottom: 2rem;
}

.register small, .login small, .create-form small{  
    display: grid;
    place-items: center;
    margin-top: 1.5rem;
}

.create-form p {
    text-align: center;
}

.create-form h2 {
    margin-bottom: 2rem;
    color: black;
    font-weight: 700;
    text-align: center;
}

.edit-form h2 {
    margin-bottom: 2rem;
    color: black;
    font-weight: 700;
}

.edit-form p {
    text-align: center;
}

.quill {
    align-items: center;
}

.q1-editor {
    overflow: scroll;
    background: var(--color-white);
    height: 10rem !important;
  }