:root {
    --container-width-lg: 64%;
    --container-width-md: 92%;
    --form-width: 50%;
}

* {
    margin: 0;
}

.container {
    width: var(--container-width-lg);
    margin-inline: auto;
}

.Link {
    color: white;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: 10px 30px 10px 30px;
    background: #212529;
}

.nav Form {
    color: white;
}

.hero marquee {
    font-weight: 600;
}

.hero {
    height: 100vh;
    background: linear-gradient(180deg, #a0978d, #ffffff 70%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left p {
    color: #171717;
    font-size: 24px;
    font-weight: 500;
}

.hero-left p {
    color: #171717;
    font-size: 30px;
    font-weight: 700;
}

.btn-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 60px;
    border-radius: 75px;
    margin-top: 30px;
    background: #a0978d;
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.btn-hero:hover {
    transform: scale(1.05);
    transition: 0.05s;
    background: #fff;
}

.hero-right {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    width: 300px;
}

.btn-satu {
    width: auto;
}

.about-satu {
    padding-top: 300px;
    display: flex;
    text-align: center;
}

.error-page h2 {
    margin-top: 3rem;
}

.error-page img {
    width: 20rem;
}

section {
    margin-top: 6rem;
}

.create-post h2 {
    font-size: 25px;
    text-align: center;
}

.create-post textarea {
    height: 200px;
}

.center {
    text-align: center;
    padding-top: 5rem;
    margin-inline: center;
    display: block;
    width: 100%;
}

.gallery img {
    height: 220px;
}

.post-detail {
    width: var(--form-width);
    background: #fff;
    box-shadow: 1px 1px 1px 1px;
    margin-inline: auto;
    border-radius: 10px 10px 10px 10px;
    padding: 1rem;
}

.post-detail h2 {
    text-align: center;
    font-weight: 700;
}

.post-detail__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.post-detail__buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}   

.post-detail__buttons i {
    width: 10px;
}

.post-detail__thumbnail {
    margin: 2rem 0rem;
    width: 100%;
    max-height: 30rem;

}

.post-detail__thumbnail img {
    object-fit: cover;
    width: 300px;
}

.post-detail p {
    margin-bottom: 0.7rem;
}

.seller__post {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto;
}

.post__seller-ava {
    width: 50px;
    border-radius: var(--radius-2);
    margin-top: 10px;
}

.post__seller-ava img {
    border-radius: var(--radius-2);
    width: 70px;
}

.post__seller-details {
    display: grid;
    align-items: center;
}

.footer {
    background-color: #212529;
    color: white;
    padding: 10px 30px;
    text-align: center;
}

.footer-category {
    text-align: center;
    display: inline-block;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.footer-category a {
    background: gray;
    color: #fff;
    padding: 0.6rem 1.4rem;
    border-radius: 5px 5px 5px 5px;
    transition: all 300ms ease;
}

.footer-category a:hover {
    background: #fff;
    color: #212529;
}

.footer .row {
    width: 100%;
    margin: 0.5% 0%;
    padding: 0.1% 0.2%;
    color: #fff;
    font-size: 1rem;
}

.footer .row a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #171717;
}

.footer .row ul {
    width: 100%;
    margin-bottom: 1%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0.5% 1%;
}

.footer .row a i {
    font-size: 2em;
    margin: 2% 2% 2% 2%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

.location {
    i {
        font-size: 18px;
    }
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer .row:nth-child(2) {
    padding-top: 50px;
}

@media screen and (max-width: 992px) {
    .services {
        padding-top: 100px;
    }
}